<p id="notice"><%= notice %></p>

<p>
  <strong>Transportation:</strong>
  <%= @transportation.transportation %>
</p>

<%= link_to 'Edit', edit_transportation_path(@transportation) %> |
<%= link_to 'Back', transportations_path %>
