/* line 5, app/assets/stylesheets/questions.scss */
.question-header {
  font-family: 'Avenir-Medium', sans-serif;
}

/* line 9, app/assets/stylesheets/questions.scss */
.question-text {
  font-family: 'Avenir-Light', sans-serif;
}

/* line 13, app/assets/stylesheets/questions.scss */
.question-button {
  text-transform: uppercase;
  font-family: 'Avenir-Light', sans-serif;
  background-color: #97d2ff !important;
  color: white !important;
}

/* line 20, app/assets/stylesheets/questions.scss */
.question-button:hover {
  color: #fff;
  border-color: #285e8e;
}

/* line 25, app/assets/stylesheets/questions.scss */
.page-arrow {
  color: #8ba6da;
}

/* line 29, app/assets/stylesheets/questions.scss */
#page-footer {
  color: #8ba6da;
  font-family: 'Avenir-Heavy', sans-serif;
}

/* line 34, app/assets/stylesheets/questions.scss */
#footer {
  text-align: center;
}

/* line 38, app/assets/stylesheets/questions.scss */
#question-container {
  background-image: url(/assets/questions-ad29dd887c3888afbf357d0865ca69011d7708d1613aca82870a664eb184af51.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  height: 90%;
  color: white;
}

/* line 47, app/assets/stylesheets/questions.scss */
#restart-button {
  padding-top: 0.1em;
}
