<div class="container-fluid">
<h1>Packing List</h1>

  <p>
<% unless @combined_list.nil? %>
  <% @combined_list.each do |item| %>
    <div>
      <input type="checkbox" />
      <%= item %>
    </div>
  <% end %>
<% end %>
  </p>

<%= link_to 'Restart', questions_path %>

</div>
