<p id="notice"><%= notice %></p>

<h1>Packing List</h1>

<div>
<% unless @list.nil? %>
  <% @list.each do |item| %>
    <div>
      <input type="checkbox">
      <%= item.name %>
    </div>
  <% end %>
<% end %>
</div>

<%= link_to 'Restart', questions_path %>