<p id="notice"><%= notice %></p>

<h1>Packing List</h1>

<div>
<% unless @combined_list.nil? %>
  <% @combined_list.each do |item| %>
    <div>
      <input type="checkbox">
      <%= item %>
    </div>
  <% end %>
<% end %>
</div>

<%= link_to 'Restart', questions_path %>