// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.packing-item {
  font-family: 'Avenir-Medium', sans-serif;
  text-transform: uppercase;
  color: #8ba6da;
}

#packing-container {
  color: white;
  padding-left: 5%;
}

#packing-container-index {
  background-image: url(asset_path('packing.png'));
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 30px;
  padding-left: 5%;
}

#category-header {
  padding-top: 0.5em;
}

.outer {
  background-image: url(asset_path('packing.png'));
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0.5em;
  width: 100%;
  height: 90%;
  border-radius: 30px;
}

html {
  body {
    background-color: transparent;
  }
}

#trash-icon {
  border: none;
  color: #8ba6da;
  background-color: transparent;
}
