// Place all the styles related to the Questions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/



.question-header {
  font-family: 'Avenir-Medium';
}

.question-text {
  font-family: 'Avenir-Light'
}

.question-button {
  text-transform: uppercase;
  font-family: 'Avenir-Light';
  background-color: #97d2ff;
  color: white
}

.question-button:hover {
  color: #fff;
  border-color: #285e8e;
}

.page-arrow {
  color: #8ba6da;
}

#page-footer {
  color: #8ba6da;
  font-family: 'Avenir-Heavy';
}

#footer {
  text-align: center;
}


#question-container {
  background-image: url(asset_path('questions.png'));
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 90%;
  color: white;
}