<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Packing list">
    <title>Packing List</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      function resizeIframe(obj) {
          obj.style.height = document.documentElement.clientHeight * 0.9 + 'px';
      }
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
<script>
  $.ajaxSetup({
      headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
      }
  });
</script>
